@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Dancing Script', cursive;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.bg {
  background: url(https://images.unsplash.com/photo-1565023998836-962ff9d5f9be?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80)
    no-repeat center center/cover;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(0px);
}

.eid {
  z-index: -1;
  font-weight: 400;
  font-size: 3.5rem;
  text-align: center;
}

.anas {
  z-index: -1;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
}

.loading-text {
  position: absolute;
  font-size: 3.5rem;
  color: #fff;
  z-index: 10;
}

.eidm {
  font-size: 3.5em;
  color: #fff;
  position: absolute;
}
